In [2]:
import pickle
import sklearn.preprocessing as pp
from scipy.sparse import csr_matrix
import numpy as np
import pandas as pd
from scipy.sparse import vstack

In [99]:
def add_row_train(df, list_tid):
    new_pid_add = df.iloc[-1].name +1
    list_tid_add = list_tid
    list_pos_add = list(range(len(list_tid_add)))

    df.loc[new_pid_add] = {'tid': list_tid_add,'pos': list_pos_add}
    return df


def inference_row(list_tid, ps_matrix):
    ps_matrix_norm = pp.normalize(ps_matrix, axis=1)
    length_tid = len(list_tid)
    n_songs = ps_matrix.shape[1]
    sparse_row = csr_matrix((np.ones(length_tid), (np.zeros(length_tid), list_tid)), shape=(1, n_songs))
    sparse_row_norm = pp.normalize(sparse_row, axis=1)

    return sparse_row_norm * ps_matrix_norm.T, sparse_row


def get_best_tid(current_list, ps_matrix_row, K=50, MAX_tid=10):
    df_ps_train = pd.read_hdf('data/df_data/df_playlistSong/df_ps_train_new.hdf')
    df_ps_train_extra = pd.read_hdf('data/df_data/df_playlistSong/df_ps_train_extra.hdf')
    df_ps_train = pd.concat([df_ps_train,df_ps_train_extra])
    
    sim_vector, sparse_row = inference_row(current_list, ps_matrix_row)
    sim_vector = sim_vector.toarray()[0].tolist()

    # Enumerate index and rating
    counter_list = list(enumerate(sim_vector, 0))

    # Sort by rating
    sortedList = sorted(counter_list, key=lambda x: x[1], reverse=True)

    topK_pid = [i for i, _ in sortedList[1:K + 1]]

    n = 0
    new_list = []
    while (1):

        top_pid = topK_pid[n]

        add_tid_list = df_ps_train.loc[top_pid].tid

        # Form new list
        new_tid_list = new_list + add_tid_list
        new_tid_list = [x for x in new_tid_list if x not in current_list]
        new_tid_list = list(dict.fromkeys(new_tid_list))

        # Check number of songs and Add to data for prediction
        total_song = len(new_tid_list)
        #            print("n: {}\t total_song: {}".format(n,total_song))
        if (total_song > MAX_tid):
            new_tid_list = new_tid_list[:MAX_tid]
            # Add
            new_list = new_tid_list
            break
        else:
            new_list = new_tid_list
        n += 1
        if (n == K):
            break

    df_ps_train_extra = add_row_train(df_ps_train_extra, current_list)
    df_ps_train_extra.to_hdf('data/df_data/df_playlistSong/df_ps_train_extra.hdf', key='abc')
    return new_list, sparse_row


def inference_from_tid(list_tid, K=50, MAX_tid=10):
    pickle_path = 'data/giantMatrix_new.pickle'
    # pickle_path = 'data/giantMatrix_truth_new.pickle'

    with open(pickle_path, 'rb') as f:
        ps_matrix = pickle.load(f)
        
    with open("data/giantMatrix_extra.pickle",'rb') as f:
        ps_matrix_extra = pickle.load(f)
    
    ps_matrix = vstack((ps_matrix,ps_matrix_extra))

    result, sparse_row = get_best_tid(list_tid, ps_matrix.tocsr(), K, MAX_tid)
    ps_matrix_extra = vstack((ps_matrix_extra,sparse_row.todok()))
    
    with open("data/giantMatrix_extra.pickle", 'wb') as f:
        pickle.dump(ps_matrix_extra, f)
    
    return result


def inference_from_uri(list_uri, K=50, MAX_tid=10):
    with open('dict_uri2tid.pkl', 'rb') as f:
        dict_uri2tid = pickle.load(f)
    list_tid = [dict_uri2tid[x] for x in list_uri if x in dict_uri2tid]
    best_tid = inference_from_tid(list_tid, K, MAX_tid)

    with open('dict_tid2uri.pkl', 'rb') as f:
        dict_tid2uri = pickle.load(f)
    best_uri = [dict_tid2uri[x] for x in best_tid]
    return best_uri

In [36]:
list_uri=["spotify:track:2HHtWyy5CgaQbC7XSoOb0e","Nothing","spotify:track:1MYYt7h6amcrauCOoso3Gx","spotify:track:3x2mJ2bjCIU70NrH49CtYR","spotify:track:1Pm3fq1SC6lUlNVBGZi3Em","spotify:track:3RGlJJFkWEavxeRQr9ivAd"]

In [39]:
inference_from_uri(list_uri)

['spotify:track:2HHtWyy5CgaQbC7XSoOb0e',
 'spotify:track:1MYYt7h6amcrauCOoso3Gx',
 'spotify:track:3x2mJ2bjCIU70NrH49CtYR',
 'spotify:track:1Pm3fq1SC6lUlNVBGZi3Em',
 'spotify:track:3RGlJJFkWEavxeRQr9ivAd',
 'spotify:track:2HHtWyy5CgaQbC7XSoOb0e',
 'spotify:track:2VN7uPrbryJ7nE2MXX3f9a',
 'spotify:track:46NtQJH1eok28bucLlHqQT',
 'spotify:track:0LqULgQNIc95iK0SUv6iXs',
 'spotify:track:4fINc8dnfcz7AdhFYVA4i7']

In [86]:
df_ps_train = pd.read_hdf('data/df_data/df_playlistSong/df_ps_train_new.hdf')

In [60]:
new_pid_add = df_ps_train.iloc[-1].name +1
list_tid_add = df_ps_train.iloc[99999][0]#[14,15,16,17,18]
list_pos_add = list(range(len(list_tid_add)))

df_ps_train.loc[new_pid_add] = {'tid': list_tid_add,
                    'pos': list_pos_add}

In [91]:
df_ps_train_extra.iloc[-1].name

100000

In [87]:
df_ps_train

,tid,pos
pid,,
0,"[3200, 3185, 174, 227, 3068, 201, 3184, 3176, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
1,"[19515, 467229, 467230, 467231, 305524, 467232...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
2,"[198273, 198295, 345861, 198334, 18185, 438346...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
3,"[118039, 98781, 133569, 109620, 91540, 73663, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
4,"[409, 438, 8011, 169539, 1518, 407, 13591, 157...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
...,...,...
99995,"[3795, 4480, 6999, 34523, 13718, 27005, 3553, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
99996,"[23098, 18486, 3081, 66501, 6120, 3105, 6991, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
99997,"[84768, 3128, 674037, 674038, 151369, 4185, 67...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
99998,"[4400, 7869, 20769, 37102, 4529, 151074, 11546...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
99999,"[10329, 6047, 6024, 2650, 28242, 2591, 9346, 3...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."

In [88]:
df_ps_train_extra

,tid,pos
pid,,
100000,"[10329, 6047, 6024, 2650, 28242, 2591, 9346, 3...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."

In [89]:
pd.concat([df_ps_train,df_ps_train_extra])

,tid,pos
pid,,
0,"[3200, 3185, 174, 227, 3068, 201, 3184, 3176, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
1,"[19515, 467229, 467230, 467231, 305524, 467232...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
2,"[198273, 198295, 345861, 198334, 18185, 438346...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
3,"[118039, 98781, 133569, 109620, 91540, 73663, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
4,"[409, 438, 8011, 169539, 1518, 407, 13591, 157...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
...,...,...
99996,"[23098, 18486, 3081, 66501, 6120, 3105, 6991, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
99997,"[84768, 3128, 674037, 674038, 151369, 4185, 67...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
99998,"[4400, 7869, 20769, 37102, 4529, 151074, 11546...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
99999,"[10329, 6047, 6024, 2650, 28242, 2591, 9346, 3...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
100000,"[10329, 6047, 6024, 2650, 28242, 2591, 9346, 3...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."

In [24]:
with open('dict_uri2tid.pkl', 'rb') as f:
    dic = pickle.load(f)
inv_map = {v: k for k, v in dic.items()}

In [26]:
with open('dict_tid2uri.pkl', 'wb') as f:
    pickle.dump(inv_map, f)

In [66]:
df_ps_train.iloc[100000:].to_hdf('data/df_data/df_playlistSong/df_ps_train_extra.hdf', key='abc')

/home/falconskull/.local/lib/python3.8/site-packages/pandas/core/generic.py:2703: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['tid', 'pos'], dtype='object')]

  pytables.to_hdf(

In [105]:
df_ps_train_extra = pd.read_hdf('data/df_data/df_playlistSong/df_ps_train_extra.hdf')

In [106]:
df_ps_train_extra

,tid,pos
pid,,
100000,"[10329, 6047, 6024, 2650, 28242, 2591, 9346, 3...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
100001,"[42509, 52820, 52818, 8379, 2489]","[0, 1, 2, 3, 4]"

In [97]:
df_ps_train_extra = add_row_train(df_ps_train_extra, [16,15,16])

64

In [82]:
#     ps_matrix = dok_matrix((num_pid, num_tid), dtype=np.float32)
pickle_path = 'data/giantMatrix_new.pickle'
# pickle_path = 'data/giantMatrix_truth_new.pickle'

with open(pickle_path,'rb') as f:
    ps_matrix = pickle.load(f)
    
with open("data/giantMatrix_extra.pickle",'rb') as f:
    ps_matrix_extra = pickle.load(f)
    
ps_matrix = vstack((ps_matrix,ps_matrix_extra))

In [79]:
ps_matrix[2]

<1x681805 sparse matrix of type '<class 'numpy.float32'>'
	with 64 stored elements in Dictionary Of Keys format>

In [83]:
ps_matrix_extra

<1x681805 sparse matrix of type '<class 'numpy.float32'>'
	with 123 stored elements in Dictionary Of Keys format>

In [33]:
# l = np.concatenate(ps_matrix,ps_matrix_extra)

In [37]:
from scipy.sparse import vstack

with open("data/giantMatrix_extra.pickle",'rb') as f:
    ps_matrix_extra = pickle.load(f)

c = vstack((ps_matrix,ps_matrix_extra))

In [38]:
c.shape

(100002, 681805)

In [80]:
with open("data/giantMatrix_extra.pickle", 'wb') as f:
    pickle.dump(ps_matrix_extra, f)

In [ ]:
df_ps_train.iloc[100001]

In [33]:
res2 = [inv_map[x] for x in res]

In [34]:
res2

['spotify:track:2HHtWyy5CgaQbC7XSoOb0e',
 'spotify:track:1MYYt7h6amcrauCOoso3Gx',
 'spotify:track:3x2mJ2bjCIU70NrH49CtYR',
 'spotify:track:1Pm3fq1SC6lUlNVBGZi3Em',
 'spotify:track:3RGlJJFkWEavxeRQr9ivAd',
 'spotify:track:2HHtWyy5CgaQbC7XSoOb0e',
 'spotify:track:2VN7uPrbryJ7nE2MXX3f9a',
 'spotify:track:46NtQJH1eok28bucLlHqQT',
 'spotify:track:0LqULgQNIc95iK0SUv6iXs',
 'spotify:track:4fINc8dnfcz7AdhFYVA4i7']

In [42]:
res2[0].split(':')[-1]

'2HHtWyy5CgaQbC7XSoOb0e'

In [100]:
import requests
import base64
import json
import sys
from fetchPlaylistTrackUris import *

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.12) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [101]:
r = get_playlist_track_uris("7HkaNKWr0GCEznuFSEE67i")

['spotify:track:5bjWdBx64POBYiUny759hy', 'spotify:track:1Vy6ESD9yEaqs1VhxoU2in', 'spotify:track:6BqE2EzcqW6sNYf7SeGfuN', 'spotify:track:41XCLKG0xl01mGprBDtTNS', 'spotify:track:1ADjWm8QNhgNV8yCNNgQ1T', 'spotify:track:6Q9AAmKg7qAs2ub41PoQOX', 'spotify:track:7rcvXqPxAYz9DhoYfDkOyv', 'spotify:track:2r3gfGANsuPbAwmLWGv0ET', 'spotify:track:1UBOERb6HzVHydLbSPWccD', 'spotify:track:2O5NxKk15g0CRPK9KVb34y', 'spotify:track:0vAio6riryryWWwmkKbBfC', 'spotify:track:5GMaaILYpTiAo1SAhvvBKi', 'spotify:track:1Ri9P0ZPrqr6h0REDRdJBd', 'spotify:track:7B9SFykXtlvM2YCjKwyULL', 'spotify:track:1fWnUfflxP1a8AEOTT1A0j', 'spotify:track:0vGVNj5Fmn4TU4foavNZG1', 'spotify:track:04Pq2GPhmaK1TqRvxWHZFQ']

In [104]:
inference_from_uri(r)

/home/falconskull/.local/lib/python3.8/site-packages/pandas/core/generic.py:2703: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['tid', 'pos'], dtype='object')]

  pytables.to_hdf(

['spotify:track:1hy6kKvsPbv7VTcllCuATC',
 'spotify:track:6Zztw1ERHqXAngHE8PfO6N',
 'spotify:track:31wGncgYPc7WsxBwtcdGGE',
 'spotify:track:32OWobmyAz8J2qA8iWekyS',
 'spotify:track:0O4vuJynWVVdyvoHvZtnk3',
 'spotify:track:1aOIW5GzlVx0B8lX2foIFg',
 'spotify:track:7G0zCTiFXuMsLovPWU3BPQ',
 'spotify:track:18g50kFt5uwVeCzQbrCvAO',
 'spotify:track:2F8GPfzDGBTz3vuPkOxLXJ',
 'spotify:track:2H6Sxx4pYnT1VD7EU2Qv0b']

In [23]:
s = "https://open.spotify.com/playlist/7HkaNKWr0GCEznuFSEE67i"
s.split('/')[-1]

'7HkaNKWr0GCEznuFSEE67i'

In [132]:
d1 = pd.read_hdf('df_ps_train_extra.hdf')

In [133]:
d1

,tid,pos
pid,,
100000,"[10329, 6047, 6024, 2650, 28242, 2591, 9346, 3...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
100001,"[42509, 52820, 52818, 8379, 2489]","[0, 1, 2, 3, 4]"

In [129]:
import huggingface_hub
from huggingface_hub import Repository
def save_train_repo(df):
    df.to_hdf(DATA_FILE, key='abc')
    commit_url = repo.push_to_hub()
    return

In [130]:
import os
HF_TOKEN = "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"
DATASET_REPO_URL = "https://huggingface.co/datasets/nandovallec/df_ps_train_extra"
DATA_FILENAME = "df_ps_train_extra.hdf"
DATA_FILE = os.path.join("data2", DATA_FILENAME)

In [134]:
df_ps_train_extra

,tid,pos
pid,,
100000,"[10329, 6047, 6024, 2650, 28242, 2591, 9346, 3...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
100001,"[42509, 52820, 52818, 8379, 2489]","[0, 1, 2, 3, 4]"

In [131]:
save_train_repo(df_ps_train_extra)

Cloning https://huggingface.co/datasets/nandovallec/df_ps_train_extra into local empty directory.

Download file df_ps_train_extra.hdf:   0%|          | 451/1.03M [00:00<?, ?B/s]

Clean file df_ps_train_extra.hdf:   0%|          | 1.00k/1.03M [00:00<?, ?B/s]

/home/falconskull/.local/lib/python3.8/site-packages/pandas/core/generic.py:2703: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['tid', 'pos'], dtype='object')]

  pytables.to_hdf(

Upload file df_ps_train_extra.hdf:   3%|3         | 32.0k/1.03M [00:00<?, ?B/s]

remote: Scanning LFS files for validity, may be slow...
remote: LFS file scan complete.
To https://huggingface.co/datasets/nandovallec/df_ps_train_extra
   e7fcafa..89eea62  main -> main

In [147]:
from datasets import load_dataset
dataset = load_dataset("nandovallec/df_ps_train_extra")

Using custom data configuration nandovallec--df_ps_train_extra-844b842f5611bdd8
Found cached dataset imagefolder (/home/falconskull/.cache/huggingface/datasets/nandovallec___imagefolder/nandovallec--df_ps_train_extra-844b842f5611bdd8/0.0.0/37fbb85cc714a338bea574ac6c7d0b5be5aff46c1862c1989b20e0771199e93f)

  0%|          | 0/1 [00:00<?, ?it/s]

In [148]:
dataset.set_format('pandas')

In [149]:
dataset

DatasetDict({
    train: Dataset({
        features: ['image'],
        num_rows: 1
    })
})