# 01_json2df

Since the MPD is in JSON format and multiple slices, we need a script that reads all the slices and creates datasets for easy use later on.

Creates multiples dataframes:
- df_tracks_info: extra information about each track. E.g: artist, duration, album, tid, etc.
- df_tracks: information about which track belong to which playlist in which position
- df_playlists_info: information about each playlist. E.g: how many artists, edits, duration, name, how many tracks, etc.
- df_playlists_test and df_playlists_info: same as before but for the test set provided in the challenge.

It also creates a dictionary that links each track URI to a track ID.

# 02_buildChallengeSet

This script will build its own test set to create a more robust challenge with playlists from the original one that are missing a certain amount of tracks randomly or from the end.

- df_playlists_challenge: same as df_playlists but with the playlists chosen for the test set.
- df_tracks_challenge: same as df_tracks but with the tracks chosen for the test set.
- df_tracks_challenge_incomplete: same as df_tracks but with the modifications specified above.

# 03_buildTrainSet

This script creates the final training/test sets by substracting the previous sets from the original sets.

# 04_buildPlaylistSongMatrix

The dataframes created follow the template of df_tracks. This script creates new dataframes in which each row is a playlist with all the track IDs and their positions.

# 05_buildSongPlaylistMatrix

Creates extra dataframes in which each row is a track and specifies position and playlist ID it belongs to.

# 06_buildGiantMatrix

Creates the training playlist/song matrix. This matrix will have as many rows as playlists and as many columns as unique tracks. The songs belonging to a playlist will have a one in the corresponding place. Since it is a very large and sparse matrix, a sparse matrix is used.

# 07_buildGiantMatrix_truth

It will repeat the same process to create another matrix but this time it will be using the whole dataset instead of the training subset.

# 08_buildSimMatrix

This script builds a similarity matrix between playlists and between songs. This help to preprocess calculations later on.

In [1]:
import pandas as pd

In [41]:
df = pd.read_hdf('data/df_data/df_playlistSong/df_ps_train_new.hdf')

In [42]:
df

,tid,pos
pid,,
0,"[4292, 5209, 1046, 4659, 1053, 4270, 423, 9088...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
1,"[2600, 36177, 36178, 36179, 36180, 36181, 3618...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
2,"[36195, 36196, 36197, 36198, 26906, 36199, 362...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
3,"[36250, 36251, 36252, 36253, 36254, 23103, 362...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
4,"[15180, 2591, 4844, 36357, 1022, 6439, 18897, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
...,...,...
1995,"[8447, 11563, 15564, 36085, 36086, 4083, 4077,...","[1, 2, 4, 5, 10, 17, 19, 21, 22, 26, 36, 38, 4..."
1996,"[793, 12667, 1404, 31268, 784, 35563, 1042, 91...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
1997,"[18303, 2366, 36150, 23423, 36151, 971, 967, 3...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
1998,"[7228, 36168, 2591, 4444, 5980, 4440, 36169, 1...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
1999,"[4072, 4073, 6132, 4711, 21523, 36170, 496, 20...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."

df_tracks